* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    position: relative;
    height: 100%;
    background: url(./images/f1_1.jpg) no-repeat center 0 / cover;
}
.cloud img {
    position: absolute;
    left: 50%;
    animation: cloud 1s infinite alternate linear;
}
.cloud img:nth-child(1) {
    margin-left: -250px;
    top: 20px;
}
.cloud img:nth-child(2) {
    margin-left: 400px;
    top: 100px;
}
.cloud img:nth-child(3) {
    margin-left: -550px;
    top: 200px;
}
@keyframes cloud {
    100%{
        transform: translate(20px);
    }
    
}
.text img {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    animation: text 1s;
}
@keyframes text  {
    0%{
        transform: translate(-50%,-50%) scale(1);
    }
    20%{
        transform: translate(-50%,-50%) scale(0.1);
    }
    40%{transform: translate(-50%,-50%) scale(1.4);
    }
    70%{transform: translate(-50%,-50%) scale(0.8);
    }
    100%{transform: translate(-50%,-50%) scale(1);
    }
}