.wrapper{
    margin: 0 auto;
    width: 1200px;
}
body{
    background-color: #f3f5f7;
}
.top{
    height: 100px;
    background-color: #fff;
}
.top .wrapper {
    padding-top: 29px;
    display: flex;
}
.logo a {
  display: block;
  width: 195px;
  height: 41px;
  background-image: url(../images/logo.png);
  font-size: 0;
}

.nav{
    margin-left: 102px;
}
.nav ul{
    display: flex;
    
}
.nav li{
    margin-right:24px ;
    
}
.nav li a{
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}
.nav li .active,
.nve li a:hover{
    border-bottom: 2px solid #00a4ff;
}
.search{
    display: flex;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    
}
.search input{
    flex: 1;
    border: 0;
    background-color: transparent;
    outline: none;

}
.search input::placeholder{
    font-size: 14px;
    color: #999;
}
.search a{
    background-image: url(../images/search.png);
    width: 16px;
    height: 16px;
    align-self: center;
}
.user a{
    margin-left: 32px;
    margin-top: 4px;
}
.user  img{
    margin-right: 7px;
    vertical-align: middle;
}
.user span{
    font-size: 16px;
    color: #666;
}
.banner{
    height: 420px;
    background-color: #0092cb;
}
.banner .wrapper{
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}
.banner .left{
    width: 191px;
    height: 420px;
    background-color: rgba(0, 0,0, 0.42);
     padding: 3px 20px;
}
.banner .left a{
    display: block;
    height: 46px;
    background: url(../images/right.png)  no-repeat right center;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}
.banner .left a:hover{
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
}
.banner .right {
    margin-top:60px;
    border-radius: 10px;
    width: 218px;
    height: 305px;
    background-color: #209dd5;

}
.banner .right h3{
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}
.banner .right .content{
    padding: 14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;

}
.banner .right dl{
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
    
}
.banner .right dt{
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
.banner .right dd{
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;

}
.banner .right dd span{
    color: #0092cb;
}
.banner .right dd strong{
    color: #7d7d7d;
     font-weight: 400;
}
.banner .right a{
    display: block;
    background-color: #00a4ff;
    height: 32px;
    text-align: center;
    font-size: 14px;
    color: aliceblue;
    line-height: 32px;
    border-radius: 15px;

}
.recommend{
    display: flex;
    margin-top: 11px;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
    line-height: 60px;
}
.recommend h3 {
    font-size: 18px;
    color: #00a4ff;
    font-weight: 400;

}
.recommend ul {
    flex: 1;
    display: flex;

}
.recommend ul li a{
    padding: 0 24px;
    font-size: 18px;

    border-right: 1px solid #e0e0e0;
}
.recommend ul li:last-child a {
    border-right: 0;
}
.recommend .modify{
    color: #00a4ff;
}
.hd{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}
.hd h3{
    font-size: 21px;
    font-weight: 400;
}
.hd .more{
    padding-right: 20px;
    background: url(../images/more.png) no-repeat right center;
    font-size: 14px;
    color: #999;
}
.bd ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bd li{
    width: 228px;
    height: 271px;
    background-color: pink;
    margin-bottom: 14px;
}
.bd li.pic{
    height: 156px;

}
.bd li .text {
    padding: 20px;
    height: 115px;
    background-color: #fff;
}
.bd li .text h4 {
    margin-bottom: 13px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.bd li .text p {
    font-size: 14px;
    line-height: 20px;
    color: #999;
}
.bd li .text p span {
    color: #fa6400;
}
.bd li .text p i {
    font-style: normal;

}
.hd ul{
    display: flex;
}
.hd li{
    margin-right: 60px;
    font-size: 16px;

}
.hd li .active{
    color: #00a4ff;
}
.bd{
    display: flex;
    justify-content: space-between;
}
.bd .left{
    width: 228px;
    background-color: #f3f5f7;
}
.bd .right{
    width: 957px;
    background-color: #f3f5f7;
}
.bd .right .top{
    margin-bottom: 15px;
    height: 100px;
}
.footer{
    margin-top: 60px;
    padding-top: 60px;
    height: 273px;
    background-color: #fff;
}
.footer .wrapper{
    display: flex;
    justify-content: ;
}
.footer .left {
    width: 440px;


}
.footer .left{
    width: 440px;
}
.footer .left p{
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 17px;
    color: #666;
}
.footer .left .download{
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #00a4ff;
}
.footer .right {
    display: flex;
}
.footer .right dl {
    margin-left: 130px;

}
.footer .right dt {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;

}
.footer .right a{
    font-style: 14px;
    color: #666;
    line-height: 24px;
}