@font-face {
  font-family: "iconfont"; /* Project id 5060316 */
  src: url('iconfont.woff2?t=1762505675551') format('woff2'),
       url('iconfont.woff?t=1762505675551') format('woff'),
       url('iconfont.ttf?t=1762505675551') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e8af";
}

.icon-jiju:before {
  content: "\e8b1";
}

.icon-wode:before {
  content: "\e8c6";
}

