/* 头尾相同的样式 */
.wrapper{
    margin: 0 auto;
    width: 1240px;
}
.shortcut{
    height: 52px;
    background-color: #333;
}
.shortcut .wrapper{
    display: flex;
    justify-content: flex-end;
    height: 52px;
    /* background-color: pink; */
}
.shortcut ul{
    display: flex;
    line-height: 52px;
}
.shortcut li a{
    padding: 0 15px;
    border-right: 1px solid #999;
    font-size: 14px;
    color: #fff;
}
.shortcut li:last-child a{
    border-right: 0;
}
.shortcut li .iconfont{
    margin-right: 4px;
    vertical-align: middle;
}
.shortcut li .color{
    color: aqua;
}
.header {
    height: 88px;
    /* background-color: pink; */
    margin-top: 22px;
    margin-bottom: 22px;
    display: flex;
}
.logo {
    width: 200px;
    height: 88px;
    background-color: #fff;
    margin-right: 40px;
}
.logo a {
     width: 200px;
     height: 88px;
     background-image: url(../images/logo.png);
     display: block;
}
.nav {
    margin-top: 33px; 
    margin-right: 28px;
}
.nav ul {
    display: flex;
}
.nav li {
    margin-right: 47px;
}
.nav li a {
    padding-bottom: 10px;
    /* background-color: skyblue; */
}
.nav li a:hover {
    border-bottom: 2px solid #5eb69c;
    color: #5eb69c;
}
.search {
    margin-top: 33px;
    width: 170px;
    height: 34px;
    border-bottom: 2px solid #f4f4f4;
    margin-right: 44px;
    display: flex;
}
.search .iconfont{
    margin-right: 8px;
    font-size: 18px;
    color: #ccc;
}
.search input{
    flex: 1;
    width: 0;  
}
.search input::placeholder{
    font-size: 16px;
    color: #ccc;
}
.cart {
    position: relative;
    margin-top: 32px;
}
.cart .iconfont {
    font-size: 32px;
}
.cart i{
    position: absolute;
    top: 1px;
    left: 15px;
    padding: 0 6px;
    height: 15px;
    background-color: #e26237;
    border-radius: 8px;
    font-size: 14px;
    color: #ffefef;
    line-height: 15px ;
}
.footer {
    height:  580px;
    background-color: #f5f5f5;
}
.service{
    padding: 60px 0;
    height: 178px;
    border-bottom: 2px solid #e8e8e8;
}
.service ul{
    display: flex;
    justify-content: space-evenly;
}
.service li {
    display: flex;
    width: 190px;
    height: 58px;
    background-color: pink;
 
}
.service li h5{
    margin-right: 20px;
    width: 58px;
    height: 58px;
    background-image: url(../images/sprite.png);
}
.service li:nth-child(2) h5 {
    background-position: 0 -58px;
}
.service li:nth-child(3) h5 {
    background-position: 0 -116px;
}
.service li:nth-child(4) h5 {
    background-position: 0 -174px;
}
.service li p {
    font-size: 28px;
    line-height: 58px;
}

.help {
    display: flex;
    justify-content: space-between; 
    height: 300px;
    padding-top: 60px;
    /* background-color: pink; */
}
.help .left {
    display: flex;
}
.help .left dl {
    margin-right: 84px;
}
.help .left dl:last-child {
    margin-right: 0;
} 
.help .left dt {
    margin-bottom: 30px;
    font-size: 18px;
}
.help .left dd {
    margin-bottom: 10px;
    font-size: 16px;
}
.help .left a {
    color: #969696;
}
.help .left .iconfont {
    color: #5eb69c;
}
.help .right ul{
    display: flex;
}
.help .right li:first-child{
    margin-right: 55px;
}
.help .right .pic{
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
}
.help .right p{
   color: #969696;
   text-align: center; 
}
.copyright {
    text-align: center;
}
.copyright p {
    margin-bottom: 10px;
    color: #969696;
}
.copyright p a{
    color: #969696;
    margin: 0 10px;
}