/* 首页内容样式 */
.banner {
    height: 500px;
    background-color: #f5f5f5;
}
.banner .wrapper {
    height: 500px;
    background-color: pink;
    overflow: hidden;
}
..banner .pic {
    display: flex;
    width: 3720px;
}
.subnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.42);
}
.subnav li {
    position: relative;
    height: 50px;
    background-color: pink;
    line-height: 50px;
}
